<div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron">
            <h3>Check In</h3> <br>

             <%= form_for :register, url: {action: :check_in} do |form| %>
                <div class="field">
                    <%= form.label :host_name %><br>
                    <%= form.text_field :host_name %>
                </div>
                <div class="field">
                    <%= form.label :guest_name %><br>
                    <%= form.text_field :guest_name %>
                </div>
                <div class="field">
                    <%= form.label :date_in %><br>
                    <%= form.date_select :date_in %>
                </div>
                <div class="field">
                    <%= form.label :date_out %><br>
                    <%= form.date_select :date_out %>
                </div>
                <div class="actions">
                    <%= form.submit "Check in", class: "btn btn-primary" %>
                </div>

            <% end %>
        </div>

    </div>

    <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="list-group">
            <%= link_to 'Home Page', home_page_index_path,  class: "list-group-item" %>
            <%= link_to 'New Guest', new_guest_path,  class: "list-group-item" %>
            <%= link_to 'New Check in', register_index_path, class: "list-group-item active" %>
            <%= link_to 'Reports', register_list_check_in_path, class: "list-group-item" %>
            <%= link_to 'Logout', home_page_login_path, class: "list-group-item" %>
        </div>
    </div><!--/.sidebar-offcanvas-->
</div>

<%= link_to 'Back', home_page_index_path, :class => "btn btn-primary", :style => "color: #fff" %>